@import "../../styles/vars_module.scss";

.skeleton {
  border-radius: 0px;
  opacity: 10;
}
.cards__card {
  transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);

  img,
  video {
    position: relative;
    width: 100%;
    height: 30vw;
    object-fit: cover;
    overflow: hidden;
  }
}

.cards__info {
  display: grid;
  grid-template-columns: 1fr 1fr;

  p {
    margin: 0 0 8px 0;
    transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
    font-size: 22px;
  }

  p:last-child {
    justify-self: end;
    opacity: 0;
  }
}

.cards__card:hover {
  transform: rotate(1deg);

  img,
  video {
    opacity: 0.9;
  }

  p:first-child:before {
    display: visible;
  }

  p {
    color: $font-accent;
  }

  p:first-child {
    transform: translateX(+20px);
  }

  p:last-child {
    transform: translateX(-20px);
    opacity: 1;
  }
}

.cards__card:active img {
  opacity: 0.95;
}

@media only screen and (max-width: 700px) {
  .cards__card {
    img,
    video {
      height: 60vw;
    }
  }

  .cards__card:hover {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 450px) {
  .cards__card {
    p {
      font-size: 18px;
    }

    .cards__info {
      grid-template-columns: 1fr;

      p {
        opacity: 1;
      }

      p:last-child {
        display: none;
      }
    }
  }
}
