@import "../../styles/vars_module.scss";

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: $grid-gap;
  padding: $nav-footer-padding 0;
  border-top: 2px solid $font-black;
  margin-top: 20px;
  font-family: $header-font;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0rem;
  font-size: 24px;

  a {
    justify-self: start;
  }

  a:hover {
    color: $font-accent;
  }

  span {
    justify-self: end;
    grid-column: 3/7;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  }

  span:hover {
    transform: rotate(-5deg);
  }
}

@media only screen and (max-width: 450px) {
  .footer {
    font-size: $mobile-nav-font-size;

    a:hover {
      color: $font-black;
      // border-bottom: 1.5px solid $font-accent;
    }

    a:focus {
      color: $font-black;
    }

    span:hover {
      transform: rotate(0deg);
    }

    span:focus {
      transform: rotate(-5deg);
    }
  }
}
