@import "../../styles/vars_module.scss";

.wrapper {
  width: 95%;
  margin: 0 auto;
  padding-top: 65px;
}

.navBackdrop {
  background: $background-color;
  position: fixed;
  top: 0;
  width: 100%;
  height: 45.5px;
  z-index: 1;
}

@media only screen and (max-width: 450px) {
  .navBackdrop {
    height: 39px;
  }

  .wrapper {
    width: 95%;
    padding-top: 50px;
  }
}
