$grid-gap: 18px;
$nav-footer-padding: 10px;
$background-color: rgb(240, 240, 240);

$primary-font: "space mono";
$header-font: neue-haas-unica, freight-text-pro;

$font-accent: rgb(218, 45, 68);
$font-black: rgba(0, 0, 0, 0.8);

$body-font-size: 18px;
$caption-font-size: 14px;

$mobile-body-font-size: 14px;
$mobile-line-height: 1rem;

$custom-cursor: url("/static/pointer.png") 64 50, pointer;
