$grid-gap: 18px;
$nav-footer-padding: 10px;
$background-color: white;

$primary-font: "space mono";
$header-font: neue-haas-unica, freight-text-pro;

$font-accent: rgb(255, 0, 0);
$font-black: rgba(0, 0, 0, 0.8);

$body-font-size: 18px;
$caption-font-size: 14px;

$mobile-body-font-size: 14px;
$mobile-line-height: 1rem;
